body{
background-image: url("background.jpg");
background-size: cover;
}
#main{
    width: 100%;
    box-shadow: 5px 5px 700px darkred;
}

canvas{
    border-radius: 50px;
    border-color: black;
    border-width: 7px;
    border-style: solid;
    box-shadow:  2px 4px 20px black;
}
#note{
    font-size: 20px;
}